// 此文件只能当前页面私有的样式，不会影响其他页面
// 变量应使用dz-page前缀，避免冲突的同时还可以看到变量来源是全局还是页面内部

// 默认为白色, js即使出bug了, 类名没挂上，也不会影响页面的展示，保证有白色主题
// css层级越少，页面性能越好
:root,
.dz-theme-light {
  --dz-page-bg-color: #f5f5f5;
}

.dz-theme-dark {
  --dz-page-bg-color: #222;
}
