<!-- 用于测试屏幕黑白闪烁，打断点发现，似乎是pc自设置错了背景色 -->
<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
      name="viewport"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      // 中信建投pc默认背景色为黑色
      debugger
      // 修复首次加载闪屏
    </script>
  </body>
</html>
